
extends ./layout/index

block content
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed enim sed nunc laoreet cursus ac efficitur neque. Duis tristique libero non iaculis dapibus. Morbi placerat mauris id nunc imperdiet eleifend. Proin eget nisl id neque condimentum aliquet vel pharetra metus. Nullam vitae sagittis tortor, a pretium metus. Donec pharetra arcu sed mattis viverra. Praesent vitae quam tempus, aliquam mi quis, porttitor sem.

                p Pellentesque sem diam, faucibus eget aliquet vel, pretium id risus. Quisque iaculis erat a justo eleifend, quis condimentum risus egestas. Praesent molestie lacinia risus eget viverra. Sed a convallis nibh. Nunc ut sapien neque. Quisque aliquam ante urna, bibendum efficitur neque ornare in. Donec vel arcu ac orci scelerisque maximus id vel dolor. Nam tempor mi lorem, nec tempus tortor dignissim nec. Curabitur orci ex, mollis a semper sit amet, pharetra quis tellus. Curabitur vehicula a mauris ac efficitur. Integer id nunc et tellus finibus porttitor. Sed tempus, ex aliquet interdum rhoncus, lectus eros maximus nibh, vitae iaculis lacus arcu sit amet ex. Mauris non facilisis eros. Nunc arcu velit, pretium vel ante sed, posuere varius nisl.

    .list-icons
        .container.mt-5.py-5.text-center  
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Pellentesque sem diam, faucibus eget aliquet vel, pretium id risus. Quisque iaculis erat a justo eleifend, quis condimentum risus egestas. Praesent molestie lacinia risus eget viverra. Sed a convallis nibh. Nunc ut sapien neque. Quisque aliquam ante urna, bibendum efficitur neque ornare in.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Pellentesque sem diam, faucibus eget aliquet vel, pretium id risus. Quisque iaculis erat a justo eleifend, quis condimentum risus egestas. Praesent molestie lacinia risus eget viverra. Sed a convallis nibh. Nunc ut sapien neque. Quisque aliquam ante urna, bibendum efficitur neque ornare in.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Pellentesque sem diam, faucibus eget aliquet vel, pretium id risus. Quisque iaculis erat a justo eleifend, quis condimentum risus egestas. Praesent molestie lacinia risus eget viverra. Sed a convallis nibh. Nunc ut sapien neque. Quisque aliquam ante urna, bibendum efficitur neque ornare in.